<section class="py-5 products">
    <div class="container">
        <div class="row">
            <div class="col-md-3 order-md-1 order-2 ">
                <p class="parag2 mt-5 mt-md-0">منتجات تصفحتها مؤخرا</p>
                <div class="row pt-2 mt-5 mt-xl-0 mt-md-0 mt-lg-5 ">
                    <div class="col-12" *ngFor="let product of products |slice:0:3">
                     <app-last-show-card [product]="product" ></app-last-show-card> 

                    </div>
                </div>

            </div>
            <div class="col-md-9 h-100 order-1">
                <div class="row ">
                    <div class="col-lg-2 col-sm-4">
                      <h4 class="h4">وصل حديثا</h4>
                    </div>
                    <div class="col-lg-8 col-sm-4 "><hr/></div>
                    <div class="col-lg-2 col-sm-4">  <a href="#" class="btn link w-100">عرض الكل</a></div>
                </div>
                <div class="row ">
                    <div class="col-md-6  col-xl-4 col-xxl-3 mt-3"   *ngFor="let product of products | slice:3:products.length" >
                        
                        <app-product-card [product]="product" ></app-product-card>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
