<header>
    <nav class=" navbar-expand-lg navbar-light py-4 ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-1 text-center text-lg-right mb-3 mb-xl-0 mb-4">
                    <a class="navbar-brand " href="#"><img src="./../../../assets/images/logo.jpg" alt="logo" class="img-fluid pt-1"/> </a>
                </div>
                <div class="col-xl-9 col-lg-8  ">
                   
           
                        <form class="">
                          <input class="form-control me-md-2 w-100 d-inline-block" type="search" placeholder="عم تبحث ؟" aria-label="Search">
                          <!-- <i class="fa-solid fa-magnifying-glass position-absolute"></i> -->
                        </form>
                      </div>
                      <div class="col-xl-2 col-lg-3 m-auto mt-3 mt-lg-0 ">
                        <button class="btn button">  <i class="fa-solid fa-user"></i></button>
                        <button class="btn button me-3">سلة التسوق <i class="fa-solid fa-cart-shopping pe-1"></i></button>
                      </div>
              
            </div>
        
        
         
        </div>
      </nav>
</header>
