<header>
    <nav class=" navbar-expand-lg navbar-light py-4 ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1">
                    <a class="navbar-brand" href="#"><img src="./../../../assets/images/logo.jpg" alt="logo" class="img-fluid pt-1"/> </a>
                </div>
                <div class="col-md-9 col-sm-8">
                   
           
                        <form class="">
                          <input class="form-control me-2 w-100 d-inline-block" type="search" placeholder="Search" aria-label="Search">
                        </form>
                      </div>
                      <div class="col-md-2 col-sm-4  ">
                        <button class="btn button">  <i class="fa-solid fa-user"></i></button>
                        <button class="btn button me-3">سلة التسوق <i class="fa-solid fa-cart-shopping pe-3"></i></button>
                      </div>
              
            </div>
        
        
         
        </div>
      </nav>
</header>
