.pro-card{
    background-color: white;
    border-radius: 10px;
    height: 100%;
    position: relative;
}
.card{
    border:none !important;
  position: unset;
  box-shadow: none !important;
}
.card-title h5{
    font-size: clamp(16px,1.5vw,18px);
    font-weight: 400;
}
.add-cart{
    background-color: #302CA2;
    color: white;
}
.price{
    opacity: .7;
    text-decoration:line-through;
}
.compare-arrow{
    position: absolute;
    top:10px;
    right:10px;
}
.offer-label{
    border-radius:16px ;
    position: absolute;
    top:10px;
    left:10px;
    color: white;
}
.add-compare{
 background-color: #23104E;
 color: white;
 position: absolute;
 top:-20px;
 right:20px;
 display: none;
}


.card-body{
  min-height: 180px !important;
}

.tooltip.bs-tooltip-top .arrow:before {
 background-color: #00cc00 !important;
}
.tooltip.top .tooltip-inner{
  background-color: red !important;
  color: #EEEEF8 !important;
}
